doctype html
html
	head
		include ./head.jade
	body
		block header
			header
				include ../blocks/header/header.jade

		block content


		block footer
			div.footer_push
			footer
				include ./footer.jade
		include ./scripts.jade