doctype html
html
	head
		include ./templates/head.jade
	body
		header
			include ./blocks/header/header.jade


		div.footer_push
		footer
			include ./templates/footer.jade
		include ./templates/scripts.jade